#This file has contains vars required to run this project

subscription_id = "subscriotion id"
azurerm_resource_group_location = "Brazil South"
sta_name = "UniqueName"
admin_username_win = "admin user to windows server"
admin_username_linux = "admin user to linux server"